<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <authentication mode="Windows"></authentication>
      <identity impersonate="false"/>
    </system.web>
  <appSettings>
    <add key="eFormsURL" value="http://eforms.hackney.gov.uk/ufs/ufsmain?formid=REACTIVE_REPAIRS_NEW&amp;REFERENCE="/>
  </appSettings>


  <connectionStrings>
    <add name="ebaseSQLConnection" connectionString="Data Source=lbhebasesqlp01;Initial Catalog=EBS_INT_LIVE_DATA;user id=ufs;password=ufs12"/>
  </connectionStrings>

</configuration>
